        <div class="col-lg-8 col-md-10 mx-auto">
        	<h2><%= @blog.title %></h2>
        	<p class="body"><%= @blog.body %></p>

        	<%= link_to 'Back', blogs_path %>
               
    	</div>