<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Frazer Bergman</h3>

          <nav class="nav nav-masthead justify-content-center app-nav">
            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link' %>
          </nav>
        </div>
      </header>