<!-- Page Header -->
    <header class="masthead" style="background-image: url(https://i.imgur.com/slKqCkB.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>My Blog</h1>
              <span class="subheading">A bunch of musings about coding and other stuff</span>
            </div>
          </div>
        </div>
      </div>
    </header>