<h1>About Me</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile_image.jpeg", width: 300, alt: "profile image" %>
	</div>

	<div class="col-md-1">
	</div>

	<div class="col-md-7">
		<p>I'm just a guy who does things from time to time. Right now that thing is learning to code. Well I guess technically I've been doing this for years, dabbling here and there in things like HTML, CSS and JS. But now I'm going deep. The goal is to be able to make web and mobile apps that are floating around in the old dome. If at the same time I can help others and make a little money working for others, hey, I won't complain. Anywho back to the grind.</p>
	</div>
</div>

