<h2>Would You Like to Work Together?</h2>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Address</h3>
		<p>69 Keefer St. Strathroy Ontario</p>

		<h3>Phone</h3>
		<p> <%= number_to_phone "5198682362" %></p>

		<h3>Email</h3>
		<p><a href="mailto:frazer.bergman@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
	</div>

	<div class="col-md-3">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2920.299123463389!2d-81.61866999999995!3d42.95090049999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882f041bec95dcd9%3A0x27c693b9fdd4a7a4!2s69+Keefer+St%2C+Strathroy%2C+ON+N7G+1C8!5e0!3m2!1sen!2sca!4v1540232398749" width="410" height="235" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>